<!-- <ul class="row row-three products__list">
  {{range .Products}}
    <li class="column column-4">
      <a href="{{.DefaultPath}}" class="products__list--img"><img src="{{.MainImageUrl}}" alt="" /></a>
      <a class="products__list--title" href="{{.DefaultPath}}">{{.Name}}</a>
      <p class="products__list--price" href="{{.DefaultPath}}"><span class="item_price">${{.Price}}</span></p>
      <div class="products__list--colors">
        <span>available colors</span>
        <i style="background: #25A5DF"></i>
        <i style="background: #80DA7A"></i>
        <i style="background: #FFD322"></i>
        <i style="background: #77969E"></i>
      </div>
    </li>
  {{end}}
</ul> -->

   {{range .Products}}
  <div class="product-preview-wrapper">
            <div class="product-preview">
              <div class="product-preview__image"><a href="{{.DefaultPath}}"><img src="/images/products/product-empty.png" data-lazy="{{.MainImageUrl}}" alt=""/></a></div>
              <div class="product-preview__label product-preview__label--right product-preview__label--sale"><span>sale<br>
                -10%</span></div>
              <div class="product-preview__info text-center">
                <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon  icon-search"></span></a></div>
                <div class="product-preview__info__title">
                  <h2><a href="#">{{.Name}}</a></h2>
                </div>
                <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                <ul class="options-swatch options-swatch--color">
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
                </ul>
                <div class="price-box "><span class="price-box__new">{{.Price}}</span> <span class="price-box__old">$84.00</span></div>
                <div class="product-preview__info__description">
                  <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                  <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                </div>
                <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
              </div>
            </div>
          </div>
      {{end}}

